* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.v-align-middle {
    vertical-align: middle;
}

.small {
    font-size: 12px;
}

.hero-container {
    background-color: blueviolet;
    color: whitesmoke;
    height: 40px;
    padding: 20px;
    font-size: 34px;
}

.action-plane {
    margin-left: 40px;
    margin-top: 40px;
    padding: 10px 10px;
}

.add-new {
    display: inline-block;
}

.add-new .add-btn{
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius: 15px;
    background-color: rgba(153, 82, 218, 0.75);
    color: whitesmoke;
    cursor: pointer;
    box-shadow: 2px 2px 1px 0px #9158C5;
}

#toast-container > .toast {
    background-image: none !important;
}
  
.contact-add {
    height: 400px;
    width: 400px;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 1px 1px gray;
    display: none;
    left: 30%;
    top: 15%;
    position: absolute;
}

.contact-add .add-header {
    height: 45px;
    background-color: #9158C5;
    padding: 10px;
}

.contact-add .add-header h3 {
    margin: 10px;
    color: #f5f5f5;
}

.contact-add .add-header .add-form{
    margin: 35px 0;
}

.form-group {
    margin: 10px 0;
}

.form-group input {
    display: block;
}

.btn-container {
    text-align: right;
}

.btn-container  .add-btn, .close-btn{
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: #f5f5f5;
    cursor: pointer;
}

.btn-container .add-btn{
    background-color: green;
}

.btn-container .close-btn {
    background-color: indianred;
}

.contact-lists {
    margin-top: 30px;
}

#contactList {
    padding: 0;   
}

#contactList li {
    list-style: none;
    width: 300px;
    padding: 5px;
    background-color: wheat;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

#contactList li .del-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    color: #9E1717;
    cursor: pointer;
    font-size: 18px;
}